{% load static %}
{% load bootstrap4 %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
    <script src="//cdn.muicss.com/mui-0.10.1/js/mui.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>

    {% if title %}
      <title>Django Blog - {{ title }}</title>
    {% else %}
      <title>Django Blog</title>
</head>
<body>
    {% bootstrap_messages %}

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">My Django Blog 2</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'blog:blog_list' %}">Home <span class="sr-only">(current)</span></a>
          </li>
          {% if request.user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'account_email' %}">Change E-mail</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'account_login' %}">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'account_signup' %}">Signup</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </nav>

    {% block content %}{% endblock %}

    <footer>
      Made with wubb by Sarah
    </footer>
</body>
</html>
