{% extends 'base.html' %}

{% load bootstrap4 %}

{% block content %}

    <h1>{% if post %}Edit{% else %}New{% endif %} Post</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {% bootstrap_form blog_form %}

        <img style="width: 400px;" src="{{ post.image_set.first.image.url }}" alt="post cover">

        {% bootstrap_form image_form %}

        <input type="submit" value="{%if post %}Edit{% else %}New{% endif %}" />
        <a href="{%url "blog:blog_list" %}">Go Back</a>
    </form>

{% endblock %}
