{% extends 'base.html' %}

{% block content %}

  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Slug</th>
        <th>Post</th>
        <th>Cover</th>
        <th>Author</th>
        {% if user.is_authenticated %}
          <th colespan="2">Edit Post</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for post in posts %}
        <tr>
            <td><a href="{% url "blog:post_detail" post.slug %}">{{post.title }}</a></td>
            <td>{{ post.slug }}</td>
            <td>{{ post.post }}</td>
            <td><img style="width: 400px;" src="{{ post.image_set.first.image.url }}" alt="post cover"></td>
            <td>{{ post.user.username }}</td>
            {% if user.is_authenticated and post.user == user %}
              <td><a href="{% url "blog:blog_edit" post.id %}" class="btn btn-outline-warning">Edit</a></td>
              <td><a href="{% url "blog:blog_delete" post.id %}" class="btn btn-outline-danger">Delete</a></td>
            {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% if user.is_authenticated %}
    <div>
      <a href="{% url "blog:blog_new" %}" class="btn btn-primary">Add a post</a>
    </div>
  {% endif %}

{% endblock %}
